<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11E53</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>5</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4E2002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10K549</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0432</string>
	<key>DTXcodeBuild</key>
	<string>4E2002</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Bold</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>bold.php</string>
			<key>uuid</key>
			<string>7AC1DF3F-A911-49E7-8A46-C2B415F7D62C</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Italic</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>italic.php</string>
			<key>uuid</key>
			<string>59479047-133C-471C-91FD-C71C58176B0C</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Underline</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>underline.php</string>
			<key>uuid</key>
			<string>08FD46B0-8E43-4D72-AA9B-2EF9F285F8C0</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string></string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Strike</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>strike.php</string>
			<key>uuid</key>
			<string>51AE6B04-3670-43DA-AAD0-A8DFC431F604</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Link</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>link.php</string>
			<key>setInsertionPoint</key>
			<true/>
			<key>uuid</key>
			<string>02429196-ED06-40C3-A82F-D85876536D89</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Paragraph</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>paragraph.php</string>
			<key>uuid</key>
			<string>F4381209-A9EC-4EDB-9CF7-D8BCEB332B51</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Div</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>div.php</string>
			<key>uuid</key>
			<string>812D57E6-7534-4112-92AF-0D3807234B01</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Span</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>span.php</string>
			<key>uuid</key>
			<string>DC5A2C55-3AA2-4C17-8CF8-E0A862BE4373</string>
		</dict>
	</array>
</dict>
</plist>
