<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CodaIconMaskFile</key>
	<string>html5-logo</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.plugin.HelloWorld</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Hello World</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>CodaDescriptionString</key>
	<string>A simple example showing how to create a Coda webscript sidebar plugin.</string>
	<key>CodaIconMaskTintString</key>
	<string>#91B05A</string>
	<key>CodaAuthorString</key>
	<string>Wade Cosgrove</string>
</dict>
</plist>
