<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11E53</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>5</string>
	<key>CodaPlugInSupportedAPIVersion</key>
	<integer>6</integer>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>4E2002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>10K549</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0432</string>
	<key>DTXcodeBuild</key>
	<string>4E2002</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Strip Tags</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>striptags.php</string>
			<key>uuid</key>
			<string>36303DDD-B548-4E20-8C11-6328568961FF</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Join Lines</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>joinlines.php</string>
			<key>uuid</key>
			<string>1B2F309E-50B0-42CD-859A-87581AAEE6A6</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>document</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalent</key>
			<string></string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Calculate Length</string>
			<key>output</key>
			<string>showAsHTML</string>
			<key>script</key>
			<string>length.php</string>
			<key>uuid</key>
			<string>7120D3E4-4D47-4379-85D7-7D7A60CE705F</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>word</string>
			<key>input</key>
			<string>selection</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Convert to Tag Pair</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>converttotag.php</string>
			<key>setInsertionPoint</key>
			<true/>
			<key>uuid</key>
			<string>4D913BBD-6102-4042-92BB-BB1E0D94AD7A</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Insert Date</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>insertdate.php</string>
			<key>uuid</key>
			<string>64CB269F-1EA6-43EB-AB0D-46BA1D780F46</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Insert Time</string>
			<key>output</key>
			<string>replaceSelectedText</string>
			<key>script</key>
			<string>inserttime.php</string>
			<key>uuid</key>
			<string>891FE431-ACB7-4B7E-B59E-18A6017FF2E4</string>
		</dict>
	</array>
</dict>
</plist>
